subprojects/packagecache
subprojects/minpack
subprojects/minpack
mod
obj
test
libzfit.a
libzfit.dll
fit_multiple.png
fit_single.png
data
.fprettify.rc
*.mod
*.lib
*.dll
libzfit.exp
minpack.f90.exp
libzfit.so
fit_nstarts_1.png
fit_nstarts_3.png
fit_nstarts_5.png
zfit_wrapper.c
zfit_wrapper.cpython-313-aarch64-linux-gnu.so
